<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
      <th>Fecha nacimiento</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of mentorados$ | async">
      <td>{{item.nombre}}</td>
      <td>{{item.apellido}}</td>
      <td>{{item.email}}</td>
      <td>{{item.fechanac}}</td>
      <td>
        <button (click)=onGoEdit(item)>Edit</button>
        <button (click)=onGoSee(item)>See</button>
        <button (click)=onGoDelete(item.id)>{{item.id}}</button>
      </td>
    </tr>
  </tbody>
</table>

