<form (ngSubmit)='onSave()' [formGroup]="mentoradosForm">
  <label for="nombre">nombre</label>
  <input formControlName="nombre" type="text">
  <label for="apellido">apellido</label>
  <input formControlName="apellido" type="text">
  <label for="email">email</label>
  <input formControlName="email" type="text">
  <label for="fechanac">fechanac</label>
  <input formControlName="fechanac" type="text">

  <button type="submit">Guardar</button>
</form>

<button (click)='onGoBackList()'>Regresar a la lista</button>